 /*  tag selector */
 body {
    color: grey;
    width: 90%;
    margin:auto;
}

img.banner {
    width:100%;
    height:520px;
}

/* id selector */
#logo {
    color: grey;
    text-decoration: none;
}

/* class selector */
nav {
    background-color: black;
}
.menu {
    list-style-type: none;
    height: 60px;
}
.menu > li > a {
    text-decoration: none;
}
a:hover {
    color:orangered;
    text-transform: uppercase;
}

/* 
look inside of div with a class of feed
for every div inside, look for it's child of element height: 4px;
then apply style it
 */
div.feed>div>h4 {
    color: aqua;
}